base_folder: "J:\\projects"
gitignore:
  - '###> darkanakin41/project-generator'
  - '.idea'
  - '###< darkanakin41/project-generator'

project_type:
  default:
    folder: 'idea'
    exec: 'code'
  gfi:
    folder: 'GFI'
    exec: 'idea'
    virtual_machine: 'devbox'
    git:
      user:
        email: 'pierre.lejeune@gfi.fr'
  web:
    folder: 'web'
    exec: 'idea'
    virtual_machine: 'devbox'
  python:
    folder: 'python'
    exec: 'idea'
    gitignore_template: 'Python' # see https://github.com/github/gitignore
    templates:
      default: "python\\default"

vcs:
  github_perso:
    type: "github"
    base_url: "https://github.com"
    user: "darkanakin41"
    token: "af800811252ca7f5267dfb01c760da6d7fab4bd8"

vm:
  types:
    workstation:
      type: "vmware"
      exe: "D:\VMware Workstation\vmrun.exe"
  instances:
    devbox:
      path: "H:\Debian 10 Devbox\Clone of Debian 10.x 64-bit.vmx"
      type: "workstation"
      hostname: "192.168.154.128"
      ssh_username: "devbox"
      ssh_password: "devbox"
