base_folder: %userprofile%
gitignore:
  - '###> darkanakin41/project-generator'
  - '.idea'
  - '###< darkanakin41/project-generator'

project_type:
  default:
    folder: 'idea'
    exec: 'code'
  web:
    folder: 'projects'
    exec: 'idea'
    virtual_machine: 'devbox'
  python:
    folder: 'python'
    exec: 'idea'
    gitignore_template: 'Python' # see https://github.com/github/gitignore
    templates:
      default: "python\\default"

vcs:
  github_perso:
    type: "github"
    base_url: "https://github.com"
    user: "darkanakin41"
    token: "af800811252ca7f5267dfb01c760da6d7fab4bd8"

virtual_machine:
  devbox:
    path: %userprofile%\projects\docker-devbox-vagrant
    type: "vagrant"
    hostname: "192.168.1.200"
    ssh_username: "vagrant"
    exe: C:\HashiCorp\Vagrant\bin\vagrant.exe
